{% extends 'layout/base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-body">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" class="btn btn-sm btn-success">
                        <i class="fa fa-save"></i> Sauvegarder
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}