{% load static %}
{% load tag %}

<div id="header" class="mdk-header js-mdk-header m-0" data-fixed>
    <div class="mdk-header__content">
        <div class="navbar navbar-expand-sm navbar-main navbar-dark bg-dark  pr-0" id="navbar" data-primary>
            <div class="container-fluid p-0">
                <button class="navbar-toggler navbar-toggler-right d-block d-md-none" type="button" data-toggle="sidebar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a href="{% url 'home' %}" class="navbar-brand ">
                    <img class="navbar-brand-icon" src="assets/images/logo%402x.png" height="26" alt="">
                    <span>G'Classe</span>
                </a>
                <span class="mr-3"></span>
                <form class="search-form d-none d-xl-flex flex mr-3" action="#">
                    <button class="btn" type="submit"><i class="material-icons">search</i></button>
                    <input type="text" class="form-control" placeholder="Search">
                </form>
                <ul class="nav navbar-nav ml-auto d-none d-md-flex border-left">
                    <li class="nav-item">
                        <div class="alert alert-danger" role="alert">
                            <span class="text-bold">Ann&eacute;e scolaire en cours: {{ annee_scolaire }}</span>
                        </div>
                    </li>
                </ul>
                <ul class="nav navbar-nav ml-auto d-none d-md-flex border-left">

                    <li class="nav-item dropdown">
                        <a href="#notifications_menu" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false">
                            <i class="fa fa-cogs"></i>
                        </a>
                        <div id="notifications_menu" class="dropdown-menu dropdown-menu-right navbar-notifications-menu">
                            <div class="dropdown-item d-flex align-items-center py-2">
                                <span class="flex navbar-notifications-menu__title m-0">Changer d'ann&eacute;e scolaire</span>
                            </div>
                            <div class="navbar-notifications-menu__content" data-perfect-scrollbar>
                                <div class="py-2">
                                    <div class="dropdown-item d-flex">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <span class="mr-3">{{ annee_scolaire }}</span>
                                                    <a type="button" class="btn btn-sm btn-success">
                                                        <i class="fa fa-check"></i>
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="dropdown-item d-flex">
                                        <ul>
                                            {% for year in years %}
                                            	<li>
                                                    <a href="{% url 'change_year' year.pk %}">
                                                        {{ year.annee_scolaire }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

                <ul class="nav navbar-nav d-none d-sm-flex border-left navbar-border navbar-height align-items-center">
                    <li class="nav-item dropdown">
                        <a href="#account_menu" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false">
                            <!-- <img src="assets/images/avatar/demi.png" class="rounded-circle" width="40" alt="Frontted"> -->
                            <span class="avatar avatar-sm">
                                <span class="avatar-title rounded-circle bg-warning">AD</span>
                            </span>
                        </a>
                        <div id="account_menu" class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-item-text dropdown-item-text--lh">
                                <div><strong>Adrian Demian</strong></div>
                                <div>@adriandemian</div>
                            </div>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="index.html">Dashboard</a>
                            <a class="dropdown-item" href="profile.html">My profile</a>
                            <a class="dropdown-item" href="edit-account.html">Edit account</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="login.html">Logout</a>
                        </div>
                    </li>
                </ul>

            </div>
        </div>

    </div>
</div>