  {% load static %}
   <script src="{% static 'assets/vendor/jquery.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'assets/vendor/popper.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap.min.js' %}"></script>

    <!-- Perfect Scrollbar -->
    <script src="{% static 'assets/vendor/perfect-scrollbar.min.js' %}"></script>

    <!-- DOM Factory -->
    <script src="{% static 'assets/vendor/dom-factory.js' %}"></script>

    <!-- MDK -->
    <script src="{% static 'assets/vendor/material-design-kit.js' %}"></script>

    <!-- App -->
    <script src="{% static 'assets/js/toggle-check-all.js' %}"></script>
    <script src="{% static 'assets/js/check-selected-row.js' %}"></script>
    <script src="{% static 'assets/js/dropdown.js' %}"></script>
    <script src="{% static 'assets/js/sidebar-mini.js' %}"></script>
    <script src="{% static 'assets/js/app.js' %}"></script>

    <!-- App Settings (safe to remove) -->
    <script src="{% static 'assets/js/app-settings.js' %}"></script>

    <!-- select2 -->
    <script src="{% static 'assets/js/select2.min.js' %}"></script>
    <script src="{% static 'assets/vendor/toastr.min.js' %}"></script>
    <script src="{% static 'assets/js/toastr.js' %}"></script>

    <!-- Dragula -->
    <script src="{% static 'assets/vendor/dragula/dragula.min.js' %}"></script>
    <script src="{% static 'assets/vendor/sweetalert2/sweetalert2.min.js' %}"></script>

    <!-- Vuejs -->
    <script src="{% static 'assets/js/vue@2.js' %}"></script>
    <script src="{% static 'assets/js/custom-js.js' %}"></script>
    <script src="{% static 'assets/js/dragula_custom.js' %}"></script>


